@page "/Analysis"
@using TradingAlpha.App.Services.Interfaces
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore.Query.Internal
@using TradingAlpha.App.Models
@rendermode InteractiveServer

@inject IStockDataService SData
@inject ICryptoDataService CData



<PageTitle>Analysis</PageTitle>

@* Search Bar *@
<div class="input-group mb-3">
    <input @bind="SymbolInput" type="text" class="form-control" placeholder="Input crypto or stock symbol" aria-label="Symbol" aria-describedby="basic-addon2" id="SymbolSearch">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="getDataAndRender" >Search</button>
    </div>
</div>

@*Graph and indicators*@
<div class="row">
    @* Graph *@
    <div class="col-9">
        <div class="container"
             align="left"
             id="Chart">
            <ApexChart @ref=chart TItem="HistBarsEntry"
                       Height="@("100%")"
                       XAxisType="XAxisType.Datetime"
                       Debug>
                @*
                <ApexPointSeries TItem="MyData"
                                 Items="Data"
                                 Name="Net Profit"
                                 SeriesType="SeriesType.Bar"
                                 XValue="e => e.Category"
                                 YValue="e => e.NetProfit"/>*@
                
                <ApexCandleSeries TItem="HistBarsEntry"
                                  Items="HistBarsEntries"
                                  Name="Apex Stock Price"
                                  XValue="@(e => DateTime.SpecifyKind(e.Time, DateTimeKind.Utc))"
                                  Open="@(e => e.Open)"
                                  High="@(e => e.High)"
                                  Low="@(e => e.Low)"
                                  Close="@(e => e.Close)"
                                  OrderByDescending="e=> e.X" />
                
            </ApexChart>
        </div>
    </div>
    
    @* Indicators *@
    <div class="col">
        
        <div class="container" id="FrameStartDate">
            <h5>Bar Width</h5>
            <div class="btn-group btn-group-sm" role="group" aria-label="TimeFrame">
                <button type="button" class="btn btn-secondary" @onclick="@(() => SetTimeFrame("1min"))">1min</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => SetTimeFrame("15min"))">15min</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => SetTimeFrame("1H"))">Hour</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => SetTimeFrame("1D"))">Day</button>
                <button type="button" class="btn btn-secondary" @onclick="@(() => SetTimeFrame("1M"))">Month</button>
            </div>
            <h5>Timeframe</h5>
            <div class="btn-group btn-group-sm" role="group" aria-label="StartDate">
                <button type="button" class="btn btn-secondary">1D</button>
                <button type="button" class="btn btn-secondary">1M</button>
                <button type="button" class="btn btn-secondary">6M</button>
                <button type="button" class="btn btn-secondary">1Y</button>
                <button type="button" class="btn btn-secondary">5Y</button>
            </div>
        </div>
        
        <div class="container" id="Indicators">

            <h5>Indicators</h5>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="TradingVolume">
                <label class="form-check-label" for="TradingVolume">
                    Trading Volume
                </label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="MovingAverage">
                <label class="form-check-label" for="MovingAverage">
                    Moving Average
                </label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="RSI">
                <label class="form-check-label" for="RSI">
                    RSI
                </label>
            </div>
        </div>
    </div>
</div>

@code {

    private ApexChart<HistBarsEntry> chart;
    
    public List<HistBarsEntry> HistBarsEntries { get; set; }

    public async Task getDataAndRender()
    {
        HistBars BaseData = await SData.GetHistBarData(SymbolInput, TimeFrame, "2022-01-03T00:00:00Z", DateTimeExtensions.ToRFC3339(Date), 1000, "raw", "sip", "asc");
        HistBarsEntries = BaseData.Bars[SymbolInput];
        await chart.RenderAsync();
    }
    
    public string SymbolInput { get; set; }

    public string TimeFrame { get; set; } = "1H";

    public void SetTimeFrame(string frame)
    {
        TimeFrame = frame;
    }
   
    
    
    
    
    
    DateTime Date = DateTime.Today;

    public static class DateTimeExtensions
    {
        public static string ToRFC3339(DateTime date)
        {
            return date.ToUniversalTime().ToString("yyyy-MM-dd'T'HH:mm:ss.fffK");
        }
    }
    
}
@*
GetHistBarData()
symbols: AAPL,GOOG, / AAPL
timeframe: 
start:
end:
limit:
adjustment:
sort:
https://docs.alpaca.markets/reference/stockbars
GetLatestBar()

*@ 